*{
    margin: 0px;
    padding: 0px;
 }
 body{
     font-family: 'Source Sans Pro', sans-serif;
     align-items: center;
     text-align: center;
 }
 header{
     display: flex;
     justify-content: space-around;
     margin-bottom: -130px;   
 }
 header h1{
     background-image: url(../imagens/logo.png);
     background-repeat: no-repeat;
     width: 38px;
     height: 41px;
 }
 header h1 span{
     visibility: hidden;
 }
 header nav ul{
     display: flex;
 }
 header ul li{
     list-style: none;
     margin: 30px;
     color: #ffffff;
 }
 header ul li a{
     color: #ffffff;
     font-size: 15px;
     font-weight: 400;
 }
 header ul li a:hover{
     color: #ffffff;
     font-weight: 400;
 }
 header img{
     width: 48px;
     height: 48px;
     border: 2px solid #ffffff;
     border-radius: 50px;
     margin-top: 10px;
 }
 section#topo{
     background-image:
         -webkit-linear-gradient(top, #a8a8b6 0%,
             rgba(164, 171, 183, 0) 100%),
         url(../imagens/foto-fundo.png);
     background-image:
         linear-gradient(180deg, #a8a8b6 0%,
             rgba(164, 171, 183, 0) 100%),
 url(../imagens/foto-fundo.png);    
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0px;
     padding: 0px;
     height: 628px;
 }
 section#topo .texto-topo{
     padding-top: 190px;
 }
 section#topo h2{
     color: #ffffff;
     font-size: 48px;
     font-weight: 400;
 }
 section#topo p{
     color: #ffffff;
     opacity: 0.9;
     font-size: 22px;
     font-weight: 400;
 }
 section#topo a.button{
     width: 267px;
     height: 55px;
     background-color: #fd5c63;
     color: #ffffff;
     opacity: 0.9;
     font-size: 22px;
     font-weight: 400;
     border: none;
 }
 section#topo .botao{
     padding-top: 40px;
 }
 section#fotos-fundo-video{
     background-image:
         -webkit-linear-gradient(bottom, #a8a8b6 0%,
             rgba(164, 171, 183, 0) 100%),
         url();
     background-image:
         linear-gradient( bottom, #a8a8b6 0%,
             rgba(164, 171, 183, 0) 100%),
 url();
 }
 section#fotos-fundo-video{
     margin: 0px 10px;
 }
 section#fotos-fundo-video #colu1{
     margin: -80px 0px 0px 0px;
 }
 section#fotos-fundo-video #colu2{
     margin: -100px 0px 0px 0px;
 }
 section#fotos-fundo-video #colu3{
     margin: -60px 0px 0px 0px;
 }
 section#fotos-fundo-video #colu4{
     margin: -20px 0px 0px 0px;
 }
 section#fotos-fundo-video #colu5{
     margin: -80px 0px 0px 0px;
 }
 section#fotos-fundo-video #colu6{
     margin: -60px 0px 0px 0px;
 }
 section#fotos-fundo-video img{
     width:  -moz-available;
 }
  section#esp-video{
     display:inline-flex;
     margin: 30px 90px;
 }
 section#esp-video .texto-esp-video{
     position: sticky;
     text-align: left;
     margin: 40px;
     width: 600px;
 }
 section#esp-video .texto-esp-video h2{
     color: #4c4c51;
     font-size: 36px;
     font-weight: 400;
 }
 section#esp-video .texto-esp-video p{
     color: #88939e;
     opacity: 0.9;
     font-size: 22px;
     font-weight: 400;
 }
 section#esp-video .video{
     display: flex;
 }
 section#esp-video .video img.grad{
     position:  absolute;
     opacity: 0.4;
 }
 section#numbers .level{
     margin:100px;
 }
 section#numbers .level .level-item{
     padding: 50px;
 }
 section#numbers .level .level-item p.title{
     color: #f94d59;
     font-size: 48px;
     font-weight: 700;
     font-family: 'Merriweather', serif;
 }
 section#numbers .level .level-item p.heading{
     color: #88939e;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 17px;
     font-weight: 400;
     text-transform: lowercase;    
 }
 section#numbers .level p.traco{
     width: 35px;
     height: 2px;
     border-radius: 1px;
     background-color: #dbdbdb;
 }
 section#numbers .level p.traco span{
     visibility: hidden;
 }
 section#informacoes{
     display: inline-flex;
 }
 section#informacoes .angela{    
     border-radius: 4px;
     background-color: #fd6e74;
     width: 700px;
     height: 450px;
     margin: 0px 50px;
 }
 section#informacoes .angela img{
     width: 700px;
     height: 350px;
 }
 section#informacoes .angela p{
     width: 400px;
     padding: 0px 0px 0px 50px;
     color: #ffffff;
     font-family: "Source Sans Pro";
     font-size: 30px;
     font-weight: 400;
     text-align: left;
     float: left;
 } 
 section#informacoes .angela a.button{
     width: 90px;
     height: 90px;
     border-radius: 50px;
     float: right;
     border: none;
 }
 section#informacoes .angela a{
     margin: -60px 20px 0px 0px;
 }
 section#informacoes .angela small{
     color: #fd6e74;
     font-size: 80px;
 }
 section#informacoes .info{
     padding: 0px 50px;
 }
 section#informacoes .info ul{
     list-style: none;
     padding-top: 50px;
 }
 section#informacoes .info ul li{
     width: 352px;  
     padding: 10px 0px 60px 0px; 
     text-align: left;
 }
 section#informacoes .info ul li img{
     width: 80px;
     height: 80px;
     float: left;
 }
 section#informacoes .info ul li h3{
     color: #fb5c68;
     font-family: "Source Sans Pro";
     font-size: 16px;
     font-weight: 700;
     padding-left: 100px;
 }
 section#informacoes .info ul li p{
     color: #88939e;
     font-family: "Source Sans Pro";
     font-size: 15px;
     font-weight: 400;
     line-height: 18px;        
     padding-left: 100px;
 }
 section#experience{
     margin: 90px 0px;
 }
 section#experience .texto-experience h2{
     color: #606064;
     font-family: 'Source Sans Pro';
     font-size: 30px;
     font-weight: 400;
 }
 section#experience .texto-experience p{
     padding: 10px 360px;
     color: #88939e;
     opacity: 0.9;
     font-family: 'Source Sans Pro';
     font-size: 17px;
     font-weight: 400;
     margin-bottom: 40px;
 }
 section#experience select{
     display: flex;
     margin: auto;
     width: 360px;
     height: 40px;
     border-radius: 20px 20px 0 0;
     border: 2px solid #dbdbdb; 
     padding: 0px 0px 0px 20px;
 }
 section#experience button{
     width: 360px;
     border: none;
     height: 40px;
     border-radius: 0 0 20px 20px;
     background-color: #fd6e74;
     color: #ffffff;
     font-family: 'Source Sans Pro';
     font-size: 16px;
     font-weight: 400;
     opacity: 0.9;
     cursor: pointer;
 }
 section#final{
     margin: 50px 0px;
     display: inline-flex;
 }
 section#final select{
     margin: 30px;
     width: 300px;
     height: 50px;
     border-radius: 2px;
     border: 2px solid #dbdbdb;
 }
 section#final .selecoes{
     padding: 0px 50px;
 }
 section#final .selecoes select{
     display: flex;
 }
 section#final .listas{
     display: flex; 
 }
 section#final ul{
     list-style: none;
     padding: 0px 50px 0px 50px;
 }
 section#final ul li.primeira-opc{
     color: #fb5c68;
     font-family: 'Source Sans Pro';
     font-size: 17px;
     font-weight: 700;
 }
 section#final ul li{
    text-align: left;
}
 section#final ul li a{
     color: #88939e;
     font-family: 'Source Sans Pro';
     font-size: 15px;
     font-weight: 400;
     line-height: 30px;
 }
 footer{
     border-top: 2px solid #e8e8e8;
     margin: 0px 60px;   
 }
footer .logo-2{
    display: inline-flex;
    float: left;
    margin: 20px 30px;
}
 footer h2{
     background-image: url(../imagens/logo-2.png);
     background-repeat: no-repeat;
     background-size: contain;
     padding: 0px 30px;
 }
 footer span{
     visibility: hidden;
 }
 footer .terms{
     float: right;
     margin: 10px 30px;
}
footer .terms a{
    padding: 0px 20px;
    color: #88939e;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}


@media (max-width:768px){
    header{
        margin-bottom: -240px;
        display: grid;
 }
    header h1{
        margin-left: 130px;
        margin-bottom: 5px;
 }
    section#topo .texto-topo{
        padding-top: 270px;
 }
    section#topo h2{
     font-size: 35px;
        line-height: 40px;
 }
    section#topo p{
        margin-top: 15px;
     font-size: 16px;
        line-height: 20px;
 }
    section#topo a.button{
     width: 197px;
     height: 45px;
     font-size: 17px;
 }
    section#topo .botao{
     padding-top: 20px;
 }    
    section#fotos-fundo-video{
     margin: 0px -90px;
 }
 section#fotos-fundo-video #colu1{
     margin: -80px -10px 0px 10px;
 }
 section#fotos-fundo-video #colu2{
     margin: -100px -10px 0px -10px;
 }
 section#fotos-fundo-video #colu3{
     margin: -60px -10px 0px -10px;
 }
 section#fotos-fundo-video #colu4{
     margin: -20px -10px 0px -10px;
 }
 section#fotos-fundo-video #colu5{
     margin: -80px -10px 0px -10px;
 }
 section#fotos-fundo-video #colu6{
     margin: -40px 10px 0px -10px;
 }
    section#esp-video{
     display:block;
     margin:0px;
 }
    section#esp-video .texto-esp-video{
     margin: 30px 10px;
     width: 300px;
 }
    section#esp-video .texto-esp-video h2{
     font-size: 28px;
     font-weight: 400;
 }
    section#esp-video .texto-esp-video p{
     font-size: 16px;
     font-weight: 400;
 }
    section#numbers{
        display: block;
    }
    section#numbers .level{
     margin: 0px;
        display: block;
 }
    section#numbers .level p.traco{
     width: 0px;
     height: 0px;
     border-radius: 0px;
 }
    section#informacoes{
     display: block;
 }
    section#informacoes .angela{
     width: 300px;
     height: 200px;
     margin: 0px 10px;
 }
    section#informacoes .angela img{
     width: 300px;
     height: 150px;
 }
  section#informacoes .angela p{
     width: 200px;
     padding: 0px 0px 0px 20px;
     color: #ffffff;
     font-family: "Source Sans Pro";
     font-size: 15px;
     font-weight: 400;
     text-align: left;
     float: left;
 }   
    section#informacoes .angela a.button{
     width: 50px;
     height: 50px;
     border-radius: 50px;
     float: right;
     border: none;
 }
    section#informacoes .angela a{
     margin: -40px 20px 0px 0px;
 }
    section#informacoes .angela small{
     color: #fd6e74;
     font-size: 50px;
 }
    section#informacoes .info{
     padding: 0px 20px;
 }
 section#informacoes .info ul li{
     width: 270px;  
     padding: 0px 0px 40px 0px; 
     text-align: left;
 }
 section#informacoes .info ul li img{
     width: 70px;
     height: 70px;
     float: left;
 }
 section#informacoes .info ul li h3{
     color: #fb5c68;
     font-family: "Source Sans Pro";
     font-size: 14px;
     font-weight: 700;
     padding-left: 100px;
 }
 section#informacoes .info ul li p{
     color: #88939e;
     font-family: "Source Sans Pro";
     font-size: 13px;
     font-weight: 400;
     line-height: 18px;        
     padding-left: 100px;
 }
    section#experience{
     margin: 0px;
 }
 section#experience .texto-experience h2{
     font-size: 26px;
 }
 section#experience .texto-experience p{
     padding: 10px;
     color: #88939e;
     opacity: 0.9;
     font-family: 'Source Sans Pro';
     font-size: 16px;
     font-weight: 400;
     margin-bottom: 40px;
 }
 section#experience select{
     display: flex;
     margin: auto;
     width: 260px;
     height: 40px;
     border-radius: 20px 20px 0 0;
     border: 2px solid #dbdbdb; 
     padding: 0px 0px 0px 20px;
 }
 section#experience button{
     width: 260px;
     border: none;
     height: 40px;
     border-radius: 0 0 20px 20px;
     background-color: #fd6e74;
     color: #ffffff;
     font-family: 'Source Sans Pro';
     font-size: 16px;
     font-weight: 400;
     opacity: 0.9;
     cursor: pointer;
 }
    section#final{
     margin: 0px;
     display: block;
 }
 section#final select{
     margin: 20px 0px;
     width: 250px;
     height: 50px;
     border-radius: 2px;
     border: 2px solid #dbdbdb;
 }
 section#final .selecoes{
     padding: 0px 30px;
 }
 section#final .selecoes select{
     display: flex;
 }
 section#final .listas{
     display: flex; 
 }
 section#final ul{
     list-style: none;
     padding: 0px 5px 0px 20px;
 }
 section#final ul li.primeira-opc{
     color: #fb5c68;
     font-family: 'Source Sans Pro';
     font-size: 15px;
     font-weight: 700;
 }
 section#final ul li{
    text-align: left;
}
 section#final ul li a{
     color: #88939e;
     font-family: 'Source Sans Pro';
     font-size: 13px;
     font-weight: 400;
     line-height: 30px;
 }
    footer{
     border-top: 2px solid #e8e8e8;
     margin: 20px 10px;   
 }
footer .logo-2{
    display: inline-flex;
    float: left;
    margin: 20px 5px;
}
 footer h2{
     background-image: url(../imagens/logo-2.png);
     background-repeat: no-repeat;
     background-size: contain;
     padding: 0px 30px;
 }
 footer span{
     visibility: hidden;
 }
 footer .terms{
     float: right;
     margin: 15px 5px;
}
footer .terms a{
    padding: 0px 5px;
    color: #88939e;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}
}